@charset "utf-8";

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  sub.css +++++++++++++++++++++++++++++++
+++++++++++++++++  LEEJIDAM_PORTFOLIO  ++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/*_*_*_*_*_* in-common(start)_*_*_*_*_*_*_*/




/*_*_*_*_*_* in-common(end)_*_*_*_*_*_*_*/



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  sub.css +++++++++++++++++++++++++++++++
+++++++++++++++++  LEEJIDAM_PORTFOLIO  ++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */



/*_*_*_*_*_* mobile(start)_*_*_*_*_*_*_*/

@media screen and ( max-width: 767px ) {

    section { overflow: hidden; width: 100%; height: auto; }

    picture img { width: 100%; }




}



/*_*_*_*_*_* mobile(end)_*_*_*_*_*_*_*/



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  sub.css +++++++++++++++++++++++++++++++
+++++++++++++++++  LEEJIDAM_PORTFOLIO  ++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*_*_*_*_*_* tablet(start)_*_*_*_*_*_*_*/

@media screen and ( min-width: 768px ) and ( max-width: 1024px ) {

    section { overflow: hidden; width: 100%; height: auto; }

    picture img { width: 100%; }
 



}


/*_*_*_*_*_* tablet(end)_*_*_*_*_*_*_*/



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
++++++++++++++++++++++  sub.css +++++++++++++++++++++++++++++++
+++++++++++++++++  LEEJIDAM_PORTFOLIO  ++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */




/*_*_*_*_*_* desktop(start)_*_*_*_*_*_*_*/

@media screen and ( min-width: 1025px ) {


    section { overflow: hidden; width: 100%; height: auto; }
	
    picture img { width: 100%; }

}


/*_*_*_*_*_* desktop(end)_*_*_*_*_*_*_*/